.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #2e2f42;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  margin: 40px auto;
}
.timer {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 5 px;
  align-items: center;
}
.value {
  font-size: 24px;
}
.label {
  text-transform: uppercase;
}
#datetime-picker {
  margin: 10px 0;
  padding: 5px 20px;
  font-size: 16px;
}
.back-to-menu {
  margin: 0px auto;
  padding: 5px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #2e2f42;
  border: 1px solid #2e2f42;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.buttons {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin: 10px 0;
}
button {
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
}